$color_1: white;
$color_2: gray;
$color_3: #464646;
$color_4: black;
$color_5: #000000;
$color_6: #ffffff;
$color_7: #e8989a;
$color_8: #A8ABB2;
$color_9: #fff;
$color_10: #000;
$color_11: #333;
$color_12: #666;
$font-family_1: 'DM Sans', sans-serif;
$font-family_2: 'Palatino';
$font-family_3: 'DM Sans';
$font-family_4: 'Palatino', serif;
$font-family_5: 'DM Sans', serif;
$background-color_1: transparent;
$background-color_2: #e8989a;
$background-color_3: #FEF0F0;
$background-color_4: #ffffff;
$background-color_5: #d9d9d9;
$background-color_6: white;
$background-color_7: #fef0f080;
$background-color_8: #d4a7b5;